body
{
	background: #F0F0F0;
}

.oh-label
{
	font-size: 20px;
}

.oh-label-small
{
	font-size: 14px;
}

.oh-form-group
{
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}

.oh-header
{
	background-color: white;
}

.oh-footer
{
	background-color: #333333;
	color: white;
}

.oh-footer a
{
	color: white;
}

.oh-footer h2
{
	color: white;
}

.oh-h2
{
	font-size: 22px;
}

.oh-h2 a
{
	color: black;
	text-decoration: none;
}

.oh-button
{
	height: 100%;
	width: 95%;
}